[2018-08-22 13:05] coop59 opened #1 "What am I doing wrong"
I tried to start this from the command line in a centos container and I tried to download the https://github.com/blakelead/couchbase_exporter/releases/download/0.1.0/couchbase_exporter-0.1.0-linux-amd64.tar.gz. I also tried the premade docker image "blakelead/couchbase-exporter". I am not understanding what to do here. After running the docker image one I get the following:
**sudo docker run -dit

[2018-08-22 13:44] blakelead commented on #1
Hi Michael,

I'm sorry, the Github README is not clear enough for Docker use. The docker command you want should be more like the following:

[code]

Indeed, the parameters should be passed as environment variables to the Docker container as shown in the example on the [Docker Hub page](https://hub.docker.com/r/blakelead/couchbase-exporter/).

Thanks very much for the feedback, I'll change the REA

[2018-08-22 13:53] coop59 commented on #1
Thank you for you response I will give that a shot I appreciate it very
much.

On Wed, Aug 22, 2018, 9:44 AM Blake Lead <notifications@github.com> wrote:

[2018-08-22 14:31] coop59 commented on #1
That worked much better and I got the node and cluster and bucket stuff, So
if you are looking for feed back on what other metrics should be exposed my
DBA is very interested in submitting suggestions.

Thanks again for your quick response.

On Wed, Aug 22, 2018 at 9:53 AM Michael Cooper <mcooper@coopfire.com> wrote:

--
Michael A Cooper
Linux Certified
Zerto Certified
http://www.coopfire.com

[2018-08-22 14:49] blakelead commented on #1
I would be glad to have his suggestions! Could you create another issue for those ?

And again, thank you for your feedback!

[2018-08-22 15:28] #1 closed

[2018-09-11 19:57] blakelead opened #2 "Add compatibility with Couchbase Community 5.1.1"
Some users expressed the need to use the exporter with Couchbase 5.1.1.

[2018-09-11 22:47] #2 closed

[2018-09-12 11:29] blakelead opened #4 "Add XDCR metrics"
Add XDCR metrics scraping.

See this: [Couchbase XDCR Stats API](https://docs.couchbase.com/server/5.1/rest-api/rest-xdcr-statistics.html)

[2018-09-12 13:04] nexusguy59 opened #5 "The new version is not running"
Hey there,

I tried the new build and it exits immediately after creating:

I run it with: **docker run --name cbexporter -p 9191:9191 -e CB_EXPORTER_TELEMETRY_PATH=/metrics -e CB_EXPORTER_DB_URI=http://10.7.62.132 -e CB_EXPORTER_DB_USER=prometheus -e CB_EXPORTER_DB_PASSWORD=prompwd blakelead/couchbase-exporter:latest**

Then i see this: _**cdfb3009fb0f        blakelead/couchbase-exporter:latest

[2018-09-12 13:14] blakelead commented on #5
Hi Michael,

Thank you for your feedback, much appreciated!

I just tried with the following command :
[code]
 and it works as expected for me.

You did not set a port in `CB_EXPORTER_DB_URI`, is this normal ?
Is this the only logs that you have ?

[2018-09-12 14:59] nexusguy59 commented on #5
Hello Adel,

In my terminal window I am seeing the following:

time="2018-09-12T14:20:45Z" level=error msg="json: cannot unmarshal number 2658.976930792377 into Go struct field .ops of type int"
time="2018-09-12T14:20:45Z" level=error msg="json: cannot unmarshal number 5214.976930792377 into Go struct field .opsPerSec of type int"
time="2018-09-12T14:20:50Z" level=error msg="json: cannot unmarshal

[2018-09-12 15:30] blakelead commented on #5
I fixed this issue today, could you pull again the latest image and retry ?

[2018-09-12 20:03] nexusguy59 commented on #5
Hello, I will pull it in the morning and re run it and let ya know thanks

On Wed, Sep 12, 2018, 11:32 AM Blake Lead <notifications@github.com> wrote:

[2018-09-21 09:20] blakelead commented on #5
Hi Michael, were you able to test the image ?

[2018-09-21 09:35] nexusguy59 commented on #5
Yes sir it is working,

On Fri, Sep 21, 2018, 5:20 AM Blake Lead <notifications@github.com> wrote:

[2018-09-21 09:37] blakelead commented on #5
Glad to hear it, I'll close the issue then.

[2018-09-21 09:37] #5 closed

[2018-09-21 09:41] nexusguy59 commented on #5
I'm sorry I should have closed it my bad.

On Fri, Sep 21, 2018, 5:37 AM Blake Lead <notifications@github.com> wrote:

[2018-09-21 11:50] shipmak opened #6 "Node vs Bucket metrics"
I have a 3 node cluster.  I'm wondering do I need a separate exporter for each and every node to grab each "NODE's" metrics (for example:  cb_node_stats_cmd_get)? If my understanding is correct, each exporter would be calculating the same BUCKET and CLUSTER metrics redundantly.

Is there a way to just have 1 exporter running that points to a single node in the cluster, and then can identify all ot

[2018-09-21 13:08] blakelead commented on #6
Thanks for your question.

The answer can be found in the "Deployment" paragraph of [Prometheus documentation](https://prometheus.io/docs/instrumenting/writing_exporters/#deployment).

For the sake of following good practices, I made node metrics specific to the node that is being scraped hence the need to deploy an exporter instance for each node.

As for redundancy I cannot give you an definite

[2018-09-21 16:00] blakelead commented on #5
No worries :)

[2018-09-21 16:21] blakelead commented on #6
I tested it and I have the same cluster metrics for each instance. I also tested some other exporters like [Elasticsearch Exporter](https://github.com/justwatchcom/elasticsearch_exporter) and same thing happens.

I don't know what to think about that... Anyway, if it is really annoying to use, I could implement a way to have only one instance of the exporter that scrapes all the nodes metrics.

[2018-10-26 20:16] blakelead commented on #6
I will close this issue, but feel free to react if you feel that this issue should be treated.

[2018-10-26 20:16] #6 closed

[2018-10-27 09:51] blakelead opened #7 "Collect performance issues"
Collect can take a long time eventually failing with a timeout, especially for bucket metrics fetching.

A solution would be to parallelize bucket API requests.

[2018-10-27 20:27] blakelead commented on #7
Multiple requests are now played concurrently for XDCR and bucket collectors.

[2018-10-29 19:57] blakelead opened #9 "Follow Prometheus best-practices"
Prometheus documentation mentions [best-practices](https://prometheus.io/docs/instrumenting/writing_exporters) when writing exporters. Add them when relevant/possible.

[2018-10-29 21:05] blakelead opened #10 "Make the application more secure"
As pointed out by Brian Brazil in the Prometheus [developer group](https://groups.google.com/forum/#!topic/prometheus-developers/bDatrvSQ7AU), password is passed in an unsecure way.

I'm looking for the best way to address this issue but as I'm not proficient enough, I'm open to advice of any form.

[2018-10-29 21:31] blakelead commented on #10
One idea would be to store credentials in a json configuration file as so:

[code]

I don't know if it is better though. Any ideas ?

[2018-10-31 00:24] blakelead commented on #10
I settled on using configuration file and environment variables. For more informations, refer to the readme.

[2018-10-31 01:09] blakelead opened #11 "Use MustNewConstMetric"
Quote from Brian Brazil (https://github.com/prometheus/docs/pull/1207#issuecomment-434263077):

[2018-11-01 20:15] #11 closed

[2018-11-14 21:02] lconnell opened #12 "[xdcr] crash when scraping"
[code]

[2018-11-14 21:07] lconnell commented on #12
Was not executing the binary properly. Closed.

[2018-11-14 21:12] blakelead commented on #12
Thanks for trying the exporter, do not hesitate if you have any questions.
And I'm curious to know if the exporter works properly with Couchbase 3 so I would be glad to have your feedback!

[2018-11-14 21:18] lconnell commented on #12
Unfortunately it is crashing with version 3.0 :-(

On Wed, Nov 14, 2018, 4:12 PM Adel Abdelhak <notifications@github.com wrote:

[2018-11-14 21:20] blakelead commented on #12
Could you tell me what you did to run the exporter ? Did you use the latest release [0.5.0](https://github.com/blakelead/couchbase_exporter/releases/tag/0.5.0) or did you build it from sources ?

[2018-11-14 23:44] LordJeffrey commented on #12
Hi, I work "lconnell" above. We did use the latest version (downloaded today) and then got/built the go code. Here's the last revision of your repo:  896ac95, 13 days ago.
When we execute the binary, we get this at first:
-sh-4.2$ ./couchbase_exporter
INFO[0000] Couchbase version: 3.0.1-1444-rel-community
INFO[0000] Community version: true
WARN[0000] Version 3.0.1-1444-rel-community may not be sup

[2018-11-15 00:45] blakelead commented on #12
Hello @LordJeffrey,

Unfortunately I was not able to run the exporter against Couchbase 3.0.1 (I could not get the version running on my computer).

Could you please try again with launching the exporter the following way:

[code]

It will disable XDCR metrics. If this works, it means that Couchbase 3 XDCR API endpoints are not compatible with Couchbase 4 and 5.

[2018-11-16 14:59] LordJeffrey commented on #12
Hey there -- it works! :)  not crashing, and i'm seeing metrics. You rock, thanks.

[2018-11-16 15:06] blakelead commented on #12
Glad to hear it :)
I'll work on better handling of Couchbase 3 when I'll get the time. I'm keeping this issue alive so I can remember it!

[2018-11-16 15:08] lconnell commented on #12
Thank you very much for your prompt support!

[2018-11-22 17:58] blakelead commented on #12
Reproduced the error in Couchbase 4.5 :

[code]

For me it happened when rebalancing, and I found that float metrics could be valued as "undefined"... :

[code]

[2018-11-22 23:12] blakelead commented on #12
This fix will allow you to scrape XDCR metrics, do you still have the possibility to test it ?

[2018-11-23 15:42] blakelead opened #13 "Wrong naming for default cluster metrics"
I forgot to remove prefixes in the file `cluster-default.json`

[2018-11-24 00:01] #13 closed

[2018-11-25 20:28] LordJeffrey commented on #12
I will try to do so on Monday -- and thank you!

    On Thursday, November 22, 2018, 6:12:05 PM EST, Adel Abdelhak <notifications@github.com> wrote:

This fix will allow you to scrape XDCR metrics, do you still have the possibility to test it ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-11-26 15:56] blakelead opened #14 "[xdcr] Add percent_completeness metric"
Couchbase console exposes percent_completeness metric regarding outbound XDCR.

https://docs.couchbase.com/server/6.0/manage/manage-xdcr/monitor-xdcr-replication.html

[2018-11-26 16:08] LordJeffrey commented on #12
Hi there. The new version seems to also crash with couch 3.0.1.
-sh-4.2$ ./couchbase_exporter
INFO[0000] Couchbase version: 3.0.1-1444-rel-community
INFO[0000] Community version: true
WARN[0000] Version 3.0.1-1444-rel-community may not be supported by this exporter
INFO[0000] Listening at :9420
panic: interface conversion: interface {} is string, not float64

goroutine 42 [running]:
github.com/bla

[2018-11-26 16:11] LordJeffrey commented on #12
Sometimes before it crashes, we see any number of ERRO[0021] messages saying " request canceled (Client.Timeout exceeded while awaiting headers) "

[2018-11-27 00:49] blakelead commented on #12
Hi @LordJeffrey,

Thanks to you for using the exporter, feedback like yours keeps me motivated :)

Seeing the logs you posted, it seems that you still execute an earlier version. I don't know how that is, since you have the latest git logs, but the incriminated line:
[code]
corresponds to the old code before the hotfix. I tested again with bad XDCR destination and could not reproduce the error wit

[2018-11-27 10:28] blakelead opened #15 "[xdcr] get remote cluster name instead of uuid"
Fetch remote cluster name instead of remote cluster uuid for XDCR labels, or put them both.

[2018-11-27 14:37] blakelead opened #16 "[xdcr] get metrics from requesting node only"
Currently all nodes get XDCR metrics from all other nodes, but that is useless. Find a way to remove redundant data.

[2018-11-27 17:24] blakelead opened #17 "[other] improve configuration file management"
The way configuration file is used and coded is dirty and not very flexible. Change that.

[2018-11-27 18:05] #14 closed

[2018-11-27 19:49] blakelead opened #18 "[all] implement unit tests"

[2018-11-29 09:46] blakelead opened #19 "[xdcr] add error count metric"
Tasks API response contains an array with XDCR errors. Create a metric that is a count of those errors.

[2018-11-29 16:05] LordJeffrey commented on #12
Finally got time to work on this today :)  Ok, seems that when I run "go build" it isn't pulling in the collector/xdcr.go file. It is just pulling it from somewhere, somehow, who knows? I move that xdcr.go file out of the way and it still runs/crashes on 108. So I have to figure out how to make it look in collector and grab that file. I need to do this not using docker because that's the use case

[2018-11-29 16:08] LordJeffrey commented on #12
Actually, I just solved it. I had to delete go/src/* from my "gopath" and then rerun "go get" then "go build".  I'm new to go. Anyway, it works now! You can close this. Big thanks.

[2018-11-29 19:38] blakelead commented on #12
If there's one thing I dislike with go is their package management (I don't know if 1.11 is better). I won't forget how you solved this particular problem as I'm sure it will happen to someone some day :)

Anyway I'm glad you got it working!

[2018-11-29 19:38] #12 closed

[2018-11-30 18:51] LordJeffrey opened #20 "Errors when running against couchbase 3.0.1 -- timeout exceeded while awaiting headers"
Hello,

Thanks for the help earlier -- it can run now without crashing :)  One issue though: yes, it runs, but it doesn't actually get any stats when it runs now. I get these errors every time it scrapes (below). When I go to http://:8091/pools/default/buckets/presence/stats/replications I do actually see json, so the endpoints seem to be there. Any ideas? Thanks!

<many errors like below>
ERRO[00

[2018-11-30 18:53] LordJeffrey commented on #20
I took out the hostnames...

[2018-11-30 18:56] LordJeffrey commented on #20
Hmm, I seem to be able to see my edit history with the hostnames. If there is a way to delete my edit history -- or my comments if you need to -- please do. I'd like to keep my company info out of this and messed up. Thank you! :)

[2018-11-30 18:58] LordJeffrey commented on #20
Other errors involving "replications":
ERRO[0098] Get http://:8091/pools/default/buckets/presence/stats/replications%2Fa67eb4ce35e01b1573cc1e2261b1d2f2%2Fpresence%2Fpresence%2Fdocs_opt_repd: net/http: request canceled (Client.Timeout exceeded while awaiting headers)

[2018-11-30 22:26] blakelead commented on #20
Hi @LordJeffrey ,

I'll treat this issue ASAP.

In the mean time, I have a question: when you say that you don't get any stats, do you mean no XDCR stats or no metrics at all ?

[2018-11-30 23:40] blakelead commented on #20
I had time to actually test the exporter with **Couchbase community 3.0.1** using vagrant, and unfortunately I did not reproduce your errors.

Here's what I did:

I installed **Couchbase 3.0.1** on a vagrant **ubuntu/trusty64** VM with Docker:

[code]

I connected to the Couchbase node in the browser and used default configuration. I then created a remote cluster and initiated a replication betwee

[2018-12-03 15:43] LordJeffrey commented on #20
For me, I wasn't getting any stats. This is very good that you tested this and got stats -- hope I didn't waste your time. I'm going to try to redo all my steps to make sure I have everything right and try again. Thanks so much!

[2018-12-03 15:45] LordJeffrey commented on #20
Also, thanks for deleting my comments :)

[2018-12-03 20:45] blakelead commented on #20
I'm thankful that you are using my exporter so don't worry, you're not wasting my time :)

Don't hesitate if you have more info about your issue.

[2018-12-05 16:30] LordJeffrey commented on #20
Doing some testing today. It seems it IS reporting the new stats, as well as other stats, but it looks like I'm simply/actually timing out. I get this occasionally, at random:
(hostname)8091/pools/default/buckets/presence/stats: net/http: request canceled (Client.Timeout exceeded while awaiting headers)
ERRO[0336] Could not unmarshal bucketstats data for bucket mwi

I get this error for various di

[2018-12-05 17:08] LordJeffrey commented on #20
One thing that seems to sort of work is setting this in "couchbase_exporter.go":
       // custom server used to set timeouts
        httpSrv := &http.Server{
                Addr:         *listenAddr,
                ReadTimeout:  20 * time.Second,
                WriteTimeout: 30 * time.Second,
        }

I say it only "sort of" works because I still get the timeout errors (after 10 seconds), bu

[2018-12-05 17:20] blakelead commented on #20
I'll investigate on that and you are right I should parameterize the timeouts.
I'll do that ASAP!

[2018-12-07 18:30] LordJeffrey commented on #20
Sweet. I'm going to be out all next week, so no rush (if you were rushing, haha). Cheers.

[2018-12-07 19:58] amithrh opened #21 "Will it work with other couchbase versions like 4.6.5 ?"
@blakelead , i need to use it on VMs , do i have to make any change to use this ?

[2018-12-07 20:09] blakelead commented on #21
Hi @amithrh,

I haven't tested it on this particular version but it will work.

You will see a warning in the log though, stating that version 4.6.5 is not supported. I will test the exporter against the version you need and add this version to the supported ones.

[2018-12-08 07:25] amithrh commented on #21
@blakelead Thanks a lot . I have some more question.
1. i want to install it on couchbase cluster running on VMs , do i need to make any change ?
2. Do it have installation dependency ?

[2018-12-08 08:16] blakelead commented on #21
@amithrh you don't need to make any changes to your cluster and the exporter does not have any dependency, you just need to drop the binary on the VMs and execute it.

I provided a [systemd](https://github.com/blakelead/couchbase_exporter/blob/master/examples/systemd-exporter.service) example if you need it, and you also can launch the exporter as a [Docker](https://hub.docker.com/r/blakelead/couc

[2018-12-09 22:05] blakelead commented on #21
After some tests, it appears that the exporter works seamlessly with version 4.6.5.

FYI, comparing to version 4.5.1, version 4.6.5 is missing the following metrics:

[code]

I close this issue, but don't hesitate to open a new one if you have another question, or if you have trouble using the exporter :)

[2018-12-09 22:05] #21 closed

[2018-12-09 22:56] blakelead commented on #20
Hi @LordJeffrey,

I can't reproduce the timeouts you have but I added 2 new parameters in version 0.6.0:
- web.timeout for the exporter itself
- db.timeout for couchbase requests -> I think this is the one you need to increase

I hope this will solve your problem when you get back :)

[2018-12-09 23:07] blakelead commented on #17
Done in release 0.6.0

[2018-12-09 23:07] #17 closed

[2018-12-13 09:51] bjethwan opened #22 "How to run this in Kubernetes and Prometheus Operator?"
How to run this in Kubernetes and Prometheus Operator?

[2018-12-13 09:52] bjethwan opened #23 "How does it compare with brunopsoares/prometheus_couchbase_exporter?"
https://github.com/brunopsoares/prometheus_couchbase_exporter

[2018-12-13 10:29] blakelead commented on #23
Hi @bjethwan,
The exporter you mentioned lacks XDCR metrics and I needed them so I decided to write my own exporter.

[2018-12-13 10:30] blakelead commented on #22
Hi @bjethwan,
I don't know, I didn't try it with Prometheus Operator but I'll be glad to have your feedback on this matter!

[2018-12-30 09:25] PasqualePuzio opened #24 "Support for Couchbase 6.x"
Hi,

is Couchbase 6.x supported?

I haven't tested it yet, thought you probably already know if it's the case or not.

Thanks

[2019-01-01 20:48] blakelead commented on #24
Hello @PasqualePuzio,
Actually I did not test Couchbase 6. I'll do it this week and let you know :)

[2019-01-02 12:17] aabdelhak commented on #24
Hi @PasqualePuzio,
I tested it and it works as expected with version 0.6.0 of the exporter. Could you confirm ?

[2019-01-02 12:18] blakelead commented on #24
Hi @PasqualePuzio,
I tested it with version 0.6.0 of the exporter and it works as expected. Could you confirm ?

[2019-01-02 12:21] blakelead opened #25 "[0.6.0] environment variable for scraping XDCR doesn't work"
`CB_EXPORTER_SCRAPE_XDCR` is ignored (regression).

[2019-01-02 13:20] PasqualePuzio commented on #24
Hi, thank you for confirming it works. I've tested it too and I had no issues. Seems to work fine with Couchbase 6.

[2019-01-02 13:20] #24 closed

[2019-01-02 23:11] blakelead commented on #15
Done in release [0.7.0](https://github.com/blakelead/couchbase_exporter/releases/tag/0.7.0).

[2019-01-02 23:11] #15 closed

[2019-01-02 23:11] blakelead commented on #25
Fixed in release [0.7.0](https://github.com/blakelead/couchbase_exporter/releases/tag/0.7.0).

[2019-01-02 23:11] #25 closed

[2019-01-02 23:11] blakelead commented on #16
Done in release [0.7.0](https://github.com/blakelead/couchbase_exporter/releases/tag/0.7.0).

[2019-01-02 23:11] #16 closed

[2019-01-02 23:12] blakelead commented on #19
Done in release [0.7.0](https://github.com/blakelead/couchbase_exporter/releases/tag/0.7.0).

[2019-01-02 23:12] #19 closed

[2019-01-25 17:53] blakelead opened #26 "[examples] Rework Grafana dashboard template"

[2019-02-01 22:45] #23 closed

[2019-02-01 22:45] #22 closed

[2019-02-01 22:46] #20 closed

[2019-02-07 11:48] leansysteam opened #27 "Change Licence to Apache 2.0"

[2019-02-07 11:49] leansysteam commented on #27
https://www.apache.org/licenses/LICENSE-2.0.txt

[2019-02-07 20:18] blakelead commented on #9
https://github.com/prometheus/docs/pull/1207

[2019-03-06 18:21] ben-foster-cko opened #29 "Cluster configuration"
Is it necessary to run the exporter against each node in the cluster? Also what permissions are required by the exporter to get statistics?

[2019-03-06 19:08] blakelead commented on #29
Hello @ben-foster-cko,

Yes you have to run one exporter per node.

As for permissions, you don't need particular privileges to run the exporter, but you must set credentials for the exporter to query the Couchbase API.

For versions of Couchbase before RBAC implementation you'd need global (admin) credentials and for versions with RBAC (>=5) you can create a special user for the exporter with rea

[2019-03-27 18:01] williamhammond opened #30 "Memcached moxi exporter"
I'm guessing not but does this exporter capture any of the stats exposed by moxi `stats proxy` command described here https://developer.couchbase.com/documentation/server/3.x/admin/Monitoring/monitor-moxi-statistics.html?

[2019-03-27 21:14] blakelead commented on #30
Hello @williamhammond,

Indeed I don't expose those metrics as I actually didn't know about them :). I'll read the docs and consider implementing it but I cannot assure you that this will be integrated to the exporter.

Anyway thanks for your interest in this project!

[2019-05-09 14:17] dream4r1 opened #31 "Support Couchbase 6.0"
Saw similar question was raised before when we started the exporter we are having this warnings reported and we do not see the metrics are spitted out.
`
[root]# ./couchbase2_exporter -scrape.xdcr=false
INFO[0000] Couchbase version: 6.0.0-1693-community
INFO[0000] Community version: true
WARN[0000] Version 6.0.0-1693-community may not be supported by this exporter
INFO[0000] Listening at :9420
`

[2019-05-10 22:45] blakelead commented on #31
Hey @dream4r1 , thanks for using the exporter!

Do you mean that you have no metrics at all ? Which version of the exporter do you use ? Are errors logs generated when scraping the exporter ?

[2019-05-13 13:47] dash042 commented on #31
bucket and xdcr do not seem to bring up metrics with the latest image from dockerhub: (latest)
`time="2019-05-13T13:45:14Z" level=debug msg="No value found for num_failedckpts metric in remote 7e0460e427013c6b30178f65ff9ea5bb"
`

[2019-05-13 17:18] dream4r1 commented on #31
Thanks @blakelead appreciate the response we figured its the internal curl issue rather being the exporter.

[2019-05-13 17:18] #31 closed

[2019-05-13 18:21] blakelead commented on #31
Glad you resolved your issue :)

[2019-05-14 16:07] khanium opened #32 "Support for Couchbase Sync-Gateway +2.5 metrics"
Couchbase Sync Gateway was released on 29 April 2019 and contains support to metrics in the Sync Gateway servers. it would be great if couchbase_exporter could support it too.

[2019-05-14 20:57] blakelead commented on #32
Hey @khanium , great suggestion!
I'll look into it as soon as I can.

[2019-05-15 20:03] bitdba88 opened #33 "Multi URI to same cluster"
Create a second connection to the same cluster.  This will allow for primary node being down in a multi-node cluster.

You can check my work I did this in the fork of your code https://github.com/bitdba88/couchbase_exporter

[2019-05-15 20:07] bitdba88 opened #34 "Switch to using https for connection to Couchbase cluster"
Change to default to https://localhost:18091 instead of the non secure port since the code is pushing a password in the connection. Need to also add the ability to change TLS setting to ignore self signed certificates.

You can check my code on the fork https://github.com/bitdba88/couchbase_exporter if that makes it easier.

[2019-05-15 20:17] #33 closed

[2019-05-15 20:24] blakelead commented on #34
Hey @bitdba88 ,

That's a big contribution thanks a lot! If you don't mind I'll add your additions (with minor modifications) and acknowledge your contribution in the README.

After checking your code I did not understand the purpose of the second  dbURI. Could you tell me more about that ?

[2019-05-15 23:13] bitdba88 commented on #34
That was so in a multi node environment if the first node did not respond it will move to another node.  I need to double check because when I have run Coucbbase in a cluster I have always only gone to one node to see everything going on for that cluster.  But I read one of questions that said you need to run one connection per node.  I don't think that is true but I will need to test to see what

[2019-05-15 23:15] bitdba88 commented on #34
It was from this answer that I questioned if the changes for the second URI was required.

https://github.com/leansys-team/couchbase_exporter/issues/29

[2019-05-16 18:29] bitdba88 commented on #34
I think I was looking at a different exporter before I forked yours.  In another exporter it shows all the nodes are healthy from a single scrape.  https://github.com/totvslabs/couchbase-exporter.git. but this code is expecting to run on every node like node exporter.  I can live with that.  Do you have the prometheus setup your using?  I don't see that in the examples.  I'm going to remove the se

[2019-05-16 18:55] blakelead commented on #34
I'm using Ansible to install Prometheus and that is the configuration template associated with it (I removed the parts unrelated to Couchbase):

[code]

And the `./couchbase-rules.yml` file is actually the one you can find in `examples` directory.

I proposed earlier to copy your code into the exporter and mention you in the readme, but if you prefer to submit a PR that's great too!

[2019-05-17 02:44] bitdba88 commented on #34
I did the pull request.  Hopefully it's correct.

[2019-05-24 15:05] bennydubois opened #36 "json error"
exporter version 0.7.0 (compiled binary not in a container)
couchbase version: 5.0.1

The exporter is handing out metrics BUT throws some errors on various servers:

level=error msg="json: cannot unmarshal number 530.5305305305305 into Go struct field .cmd_get of type int"
level=error msg="json: cannot unmarshal number 8.998001998001998 into Go struct field .diskFetches of type int"
level=error ms

[2019-05-28 09:24] blakelead commented on #36
Hello @bennydubois,

Thanks for reporting this issue! I'll check it asap.

[2019-06-19 11:12] amithrh opened #37 "Issue with docker image run"
i am trying to run docker image with all default value , but container is existing with below error:

docker run blakelead/couchbase-exporter:0.6.0
time="2019-06-19T11:09:45Z" level=info msg="stat /bin/config.yml: no such file or directory: using command-line parameters and/or environment variables if provided"
time="2019-06-19T11:09:45Z" level=info msg="Couchbase Exporter Version: 0.6.0"
time="20

[2019-06-19 12:37] blakelead commented on #37
Hello @amithrh ,

Thank you for your valuable input!

There seem to be an issue with the default parameters indeed. I'll check that asap. In the mean time, you have two choices to bypass this bug:
- ~~use the tag 0.7.0~~ I also found the bug in this version
- explicitly pass environment variables or arguments to overwrite the faulty value:

[code]

Do not hesitate if you have more inputs/remarks

[2019-06-19 14:00] blakelead commented on #36
Hello @bennydubois,

It seems that your are not using **version 0.7.0** but **0.2.1** or lower. Indeed, metric *autoCompactionSettings* does not exist since **0.3.0**.

Could you please check again ?

[2019-06-19 14:02] #29 closed

[2019-06-19 14:10] #27 closed

[2019-06-19 14:10] #26 closed

[2019-06-19 14:12] blakelead commented on #37
Hello again @amithrh,

This is fixed in version 0.8.1. Could you please check ?

[2019-06-20 17:10] amithrh commented on #37
Yeah it worked like charm

On Wed, Jun 19, 2019 at 7:42 PM Adel Abdelhak <notifications@github.com>
wrote:

[2019-06-21 06:03] blakelead commented on #37
Great! I close the issue then, thanks for your help.

[2019-06-21 06:03] #37 closed

[2019-06-24 02:40] mplachter opened #39 "Incorrect binary in linux amd64 release"
# Wrong binary in tar.gz for linux amd64.

The `linux-amd64.tar.gz` form the release page does not run on `alpine:3.9.3`.

However if I clone down the repo and build the binary `env GOOS=linux GOARCH=amd64 go build ./couchbase_exporter.go` it runs on `alpine` no problem.

This leads me to believe the release tar.gz does not have the correct binary tar.gz.

[2019-06-24 14:29] blakelead commented on #39
Hey @mplachter,

Thanks for reporting this, I'll look into it

[2019-08-02 22:13] blakelead commented on #34
Hi @bitdba88 ,

I modified a bit what you proposed and pushed it to [develop](https://github.com/leansys-team/couchbase_exporter/tree/develop) branch. But since I don't have access to an Enterprise cluster with TLS enabled, I can't fully test the code.

Do you have the possibility (and the time) to test it? It would be really helpful.

[2019-08-03 01:16] bitdba88 commented on #34
I will try to get it tested this week.

Don

On Fri, Aug 2, 2019 at 5:13 PM Adel Abdelhak <notifications@github.com>
wrote:

[2019-08-07 15:18] mozai opened #41 "Is TYPE correct for cb_bucket_ep_oom_errors and cb_bucket_ep_tmp_oom_errors ?"
I have 558 couchbase nodes. and over the past week I've only ever seen these metrics increase and plateau, never decrease, even on machines that presently have 85% ram free.  The couchbase_exporter documents them as
[code]
I found DataDog [documents these metrics as type 'gauge'](https://docs.datadoghq.com/integrations/couchbase/) but I worry these are actually of type counter, because the numbers

[2019-08-07 15:35] mozai commented on #41
A coworker just told me to try `cbstats`  and this is what I see:
[code]
and when I ask the exporter on the same machine
[code]

I really think the metric the exporter gets is a counter, and the `cbstats` tool is somehow displaying the increase instead of the absolute value.

[2019-08-07 17:23] blakelead commented on #41
Hello @mozai,

Thanks a lot for reporting this. I'll investigate it asap.

[2019-08-08 07:49] blakelead commented on #41
To be sure that Couchbase API returns the correct values, could you please run the following command:

[code]

It should return an array of the last values for `ep_oom_errors`.

[2019-08-08 14:21] mozai commented on #41
[code]
I get an array of 60 identical numbers.  I hope this doesn't mean I have four million errors per second persistently over the last minute.

[2019-08-08 14:25] mozai commented on #41
Aie, I should've mentioned: I'm using the community edition of couchbase, v5.1.1

[2019-08-08 16:09] blakelead commented on #41
After some digging, the metric indicates that 4,456,261 OOM errors were reported since boot time. So it is sort of a counter metric but I can't use it as such because it can be reinitialized to zero when the machine reboots.
As for the output of the `cbstats` command, I don't really know what it means... No OOM errors at the time of the execution of the command?

And to answer some of your earlier

[2019-08-09 01:25] mozai commented on #41
Then it's a counter, it's counting how many events happened, not how many are here right now. It's like counting how many cars passed a lamppost since you arrived instead of counting how many cars are under the lamppost when asked.  If it were a gauge, then it would be like saying "there are four hundred cars under this lamppost" when there isn't a single car in sight, because you saw four hundred

[2019-08-16 01:30] bitdba88 commented on #34
Looks good in my testing.  It threw the certificate error on self signed with default.  Worked fine when setting changed to true.  Tested on both darwin and Redhat.

[2019-08-16 07:40] blakelead commented on #34
Great!
Thanks for your help and your contribution.

[2019-08-16 07:51] blakelead commented on #41
Hello @mozai,
It makes sense I'll work on it.

[2019-08-16 07:55] #34 closed

[2019-08-22 18:25] mozai commented on #36
I am using couchbase_exporter version 0.7.0 and I'm getting "json: cannot unmarshal object into Go struct field BucketData.autoCompactionSettings of type bool".

Asking couchbase myself (version 5.0.1) I can see sometimes the per-bucket "autoCompactionSettings" is a bool, and sometimes it's an object.  By setting log.level=debug I can see the query is `level=debug msg="GET http://localhost:8091/po

[2019-08-22 18:34] mozai commented on #36
Nevermind about the version # I can see in the latest couchbase_exporter.go that it will dump the version # and current config set to the log at level=info .

[2019-08-22 18:58] blakelead commented on #36
Hello @mozai,

Exactly, the version should be outputted in the logs (I added this log in version 0.6.0 I believe).

With the Docker version, I have the correct version output, and the exporter doesn't scrape for `autoCompactionSettings` attribute. Same thing with the binary version, and when I get the sources for 0.7.0 from the release page, I don't find any trace of `autoCompactionSettings`.

How

[2019-08-22 19:24] mozai commented on #36
It was bestowed by a predecessor, who packaged it in a .deb saying it was version 0.7.0.  I can't tell what version it really is.  Maybe it's a plain string in the compiled binary... nope.

Close this ticket; we can safely assume I'm not using version 0.9.0 (the latest version today).  If I still have the problem after deploying v0.9.0 I'll come back.

[2019-08-22 19:28] blakelead commented on #36
Alright, please do that. Closing the ticket

[2019-08-22 19:28] #36 closed

[2019-09-17 02:08] zouzc opened #42 "couchbase_export build failed"
go build
# github.com/leansys-team/couchbase_exporter
./couchbase_exporter.go:62:3: unknown field 'TLSEnabled' in struct literal of type collector.Context
./couchbase_exporter.go:63:3: unknown field 'TLSSkipInsecure' in struct literal of type collector.Context
./couchbase_exporter.go:64:3: unknown field 'TLSCACert' in struct literal of type collector.Context
./couchbase_exporter.go:65:3: unknown f

[2019-09-17 19:58] blakelead commented on #42
Hello @zouzc

Thanks for opening this issue, I'll try my best to help.

Could you give me more details, like which version of the exporter are you trying to build?
Also, it would be great if you'd better formulate your question because I have trouble understanding it, to be honest.

[2019-09-18 01:58] zouzc commented on #42
go version
go version go1.12.9 linux/amd64

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.3 LTS"

$git branch
* master
$ git log
commit 0ce90e11670984b9125b28432ace3bf1d035403d
Merge: 7860afd d6ebfb1
Author: blakelead <adel.abdelhak.lille@gmail.com>
Date:   Fri Aug 16 09:44:25 2019 +0200

    Merge branch 'release/0.9.0'

[2019-09-26 19:41] blakelead commented on #42
Thanks, @zouzc  and sorry for the delay.

I reproduced the bug, and I fixed it in master branch. Could you test again, please?

[2019-09-26 19:56] blakelead commented on #39
Hello @mplachter ,

I'm sorry for the really long delay!

The issue is now fixed in the master branch and in 0.9.2 release.

[2019-09-26 19:57] blakelead commented on #32
@khanium , I'm closing this issue since Couchbase is working on an official exporter for Sync-Gateway: https://github.com/couchbaselabs/couchbase-sync-gateway-exporter

[2019-09-26 19:57] #32 closed

[2019-09-26 20:00] blakelead commented on #30
@williamhammond , I'm closing this issue since I don't plan to implement this feature.

[2019-09-26 20:00] #30 closed

[2019-10-25 15:12] #42 closed

[2019-10-25 15:13] #39 closed

[2019-11-15 19:52] bennydubois opened #43 "multiple xdcr crashes the exporter"
exporter version 0.9.0
couchbase version 5.0.1-5003 (community)

Issue: setting up a couchbase cluster to replicate to 2 datacenters (each with a distinct cluster id and name) throws the exporter in a strange loop. After a few prometheus scrape it uses over 1030 file descriptors and errors out with this for every xdcr metrics.

[2019-11-17 00:21] blakelead commented on #43
Hello @bennydubois,

Thank you for reporting this. I wanted to rework the XDCR part for some time, now I have to :)

I'll do my best to work on this issue next weekend.

[2019-11-21 14:44] mplachter opened #44 "No Binaries added to Release Assets for 0.9.2"
Release 0.9.2 which include the fix for the `amd64` binary does not have any binaries included in its `Assets`

[2019-11-21 16:53] blakelead commented on #44
Thanks @mplachter , fixed in [0.9.3](https://github.com/blakelead/couchbase_exporter/releases/tag/0.9.3).

[2019-11-21 16:53] #44 closed

[2019-11-21 22:09] blakelead commented on #43
@bennydubois it is fixed in [0.9.5](https://github.com/blakelead/couchbase_exporter/releases/tag/0.9.5).

[2019-11-21 22:09] #43 closed

[2019-11-22 14:59] bennydubois commented on #43
I rolled it out and it works perfectly, many thanks!

[2019-11-28 09:06] blakelead opened #45 "[ci] migrate to Github Actions"

[2019-11-28 10:17] blakelead commented on #41
Hello @mozai,

Sorry it took so long.
I pushed a work in progress in the develop branch. You can now define metric type in metrics json files. I made some metrics counters by default (like `cb_bucket_ep_oom_errors`).

I should be able to test it soon in a real large cluster

[2020-04-02 10:23] Lumotheninja opened #49 "Difference between this and Couchbase Official Prometheus Exporter"
Hello, I am just wondering what is the difference between this project and the official Couchbase exporter: https://github.com/couchbase/couchbase-exporter

[2020-04-13 16:19] nemmyam commented on #6
Hi,
I encountered the same issue here.
I have read your answer to @shipmak and I read the prometheus Deployment paragraph but I think this should be an exception here. since I have 6 nodes cluster (others might have more) I don't think it makes sense to have 6 deployments running only with different nodes variables, plus the redundant "Bucket" metrics DO mess up your queries ones you start sum up

[2020-04-13 16:25] nemmyam commented on #6
Also I just realized from the grafana dashboard you provided (nice work btw!) the $node variable in queries which made me understand you assume running the exporter from the actual node in the couchbase cluster but in our case I have a seperate couchbase cluster and I installed only the exporter as a deployment in a different kubernetes cluster

[2020-04-13 16:52] nemmyam opened #50 "Do not force to install exporter on each node in cluster"
I have read your answer to @shipmak in his issue #6 and I read the prometheus Deployment paragraph but I think this should be an exception here.
It looks as if the exporter is meant to be running from each node in the couchbase cluster but in our case we have a 6 nodes cluster (others might have more) but I'm running the exporter as a deployment in a separate kubernetes cluster.
I don't think in m

[2020-04-17 12:31] blakelead commented on #50
Hi @nemmyam, thank you for you insight!

You convinced me :D I'll add this task to my backlog and work on it asap.

But please understand that since Couchbase has released an official exporter, I'm not as committed to this project as I was before so it may take me some time.

[2020-04-17 12:38] blakelead commented on #49
Hi @Lumotheninja,

I'd suppose that the official exporter is much more comprehensive in covering Couchbase features and metrics, but I can't give you a real answer as I haven't tested it.

If you have the opportunity to compare them, I would love to hear your opinion!

[2020-04-29 09:10] Lumotheninja commented on #49
Well @blakelead , here is what I found out in general:

- Official Couchbase exporter (OCE) copied a lot of bucket stats into cbpernode bucket stats which makes it possible to filter by node and bucket, but you would need to run them on each server
- Most of the other stats are just moving names around, cb_cluster stats to cb_task stats
-  OCE has some interesting stats, literally called interesti

[2020-04-29 09:10] #49 closed

[2020-05-03 19:46] blakelead commented on #49
Thanks for your feedback @Lumotheninja !

[2020-06-10 09:42] ashish235 commented on #50
Hi @blakelead , are you still planning to provide this feature please? I am more interested in using your exporter rather than the official one.

[2020-09-18 15:10] LilaNKM commented on #22
Hello :) To use it in Kubernetes I create a Helm chart with the docker image precise in values.yaml
Helm create blakelead-couchbase_exporter

[code]

I have some difficulties to  field environment variable in values.yaml

[code]

I Try many ways, but once deploy the chart still use default values

[code]

[2020-09-18 16:05] blakelead commented on #22
Hi @LilaNKM ,
Could you provide a link to your chart? Or if not possible the values.yaml along with the templates?
Also, could you please create a dedicated issue?

Thanks :)

[2020-09-21 11:58] LilaNKM commented on #22
The chart is create with helm create command.

helm create blakelead-exporter

I change 3 files in it.

values.yaml
[code]
deployment.yaml

[code]

Chart.yaml

[code]

helm install test-blakelead-exporter ./blakelead-exporter

[2020-09-21 12:21] blakelead commented on #22
You don't provide `env` attributes in your `deployment.yaml`.

You should have something like that (I did not test it):

[code]

[2020-09-21 15:30] LilaNKM commented on #22
I add

[code]

And it' still do not take in account extra env values

kubectls  logs test-blakelead-exporter-couchbase-7cb79b99bc-6kwsm
time="2020-09-21T15:24:34Z" level=info msg="Couchbase Exporter Version: 0.9.0"
time="2020-09-21T15:24:34Z" level=info msg="config.file="
time="2020-09-21T15:24:34Z" level=info msg="web.listen-address=127.0.0.1:9191"
time="2020-09-21T15:24:34Z" level=info msg="web.

[2020-09-21 16:07] blakelead commented on #22
Can it be a typo issue ? `extraEnv` or `extraEnvs` ?

[2020-09-23 14:26] LilaNKM commented on #22
Hello :)
I don't think it's a typo

with value Values.extraEnv it gives the error below:

helm install blakelead-exporter-couchbase ./blakelead-exporter-couchbase --debug --dry-run

Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: [ValidationError(Deployment.spec.template.spec.containers[0].env[0]): invalid type for io.k8s.api.core.v1.Env

[2021-04-16 15:48] pierreyvesv commented on #50
Hi @blacklead, I didn't manage to build the official one, and no binary is provided. Tried yours and it worked out of the box .